@model Contact

@{
    ViewBag.Title = $"{ViewBag.Action} Contact";
}

<h2>@ViewBag.Action Contact</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ContactId"/>

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select">
            <option value="0">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @if (ViewBag.Action == "Add")
    {
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    } 
    else
    {
        <a asp-controller="Contact" asp-action="Details" asp-route-id="@Model.ContactId" 
            asp-route-slug="@Model.Slug" class="btn btn-primary">Cancel</a>
    }
</form>